.home {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.intro {
    font-size: 30px;
    margin-top: 65px;
    height: 400px;
    font-weight: bold;
    /* background-color: rgb(26, 29, 44); */
    background-image: url('../assets/background/clg4.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 900px;
}



.intro-desc {
    font-size: 20px;
    background-color: black;
    /* background: transparent; */
    color: white;
    padding: 30px;
    border-radius: 10px;
    opacity: 0.8;
    width: 1200px;
    margin-left: 100px;

}

.header {
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 100px;
    margin-left: 60px;
    margin-top: 40px;
}

.books-display-full {
    /* width: 100%; */
    background-color: rgb(43, 39, 39);
    height: 904px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/background/bg7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 20px; */

}

.books-display {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: transparent;
}

.book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 300px;
    height: 580px;
    padding: 15px;
    border-radius: 10px;
    background-color: #EEF7FF;
    /* margin: 20px; */
}

.book-title {
    background: transparent;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 22px;
    font-weight: bolder;
}

.book-author {
    background: transparent;
    font-size: 16px;
    color: rgb(10, 161, 172);
    font-weight: 700;
}

.book-genre {
    background-color: rgba(3, 10, 97, 0.945);
    color: white;
    padding:6px 10px;
    margin: 6px;
    border-radius: 12px;
    font-size: 12px;
    opacity: 0.7;
}

.book-desc {
    background: transparent;
    text-align: center;
    width: 70%;
    font-size: 12px;
    opacity: 0.66;
}

.book-price {
    margin-top: 10px;
    padding: 10px 10px;
    width: 20%;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    background-color: rgb(91, 90, 189);
}


.book:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.book-image {
    width: 180px;
}

.cart-counter2 {
    background-color: #6673e7;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 0px 30px;
    border-radius: 10px;
    margin: 10px;
}

.counter-count2 {
    background: transparent;
    margin: 10px 80px;
    font-size: 20px;
}

.counter-button2 {
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-button2:hover {
    cursor: pointer;
}