.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.books-display {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    /* margin-left: 20px; */
}

.book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 400px;
    height: 580px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(137, 124, 124);
    margin: 20px;
}

.book-title {
    border-radius: 10px;
    padding: 10px 15px;
    color: rgb(182, 255, 37);
    background-color: rgb(37, 37, 37);
    font-size: 22px;
    font-weight: bolder;
}

.book-author {
    background-color: white;
    font-size: 16px;
    color: rgb(174, 247, 57);
    font-weight: 700;
}

.book-genre {
    background-color: black;
    color: white;
    padding: 6px;
    margin: 6px;
    border-radius: 12px;
    font-size: 12px;
}

.book-desc {
    text-align: center;
    width: 70%;
    font-size: 12px;
    opacity: 0.66;
}

.book-price {
    margin-top: 10px;
    padding: 10px 0px;
    width: 100%;
    border-radius: 4px;
    font-weight: bold;
    color: #383737;
    font-size: 16px;
    background-color: rgb(174, 247, 57);
}


.book:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.book-image {
    width: 180px;
}