.cards-display {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
}

.card {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 400px;
    height: 400px;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    margin: 20px;
    transition: 300ms ease-in-out;
}

/* S tier: 5 4 10 11 15 16 20 22 26 27 28 29 30 35 37 58 59 60 61 62*/
/* A tier: 7 9 8 12 13 14 17 19 21 23 24 25 32 33 34 36 39 40 44 45 46 47 49 50 51 54*/
/* B tier: 6 18 31 38 41 42 43 48 52 53 55 56 57*/

.card-title {
    background: transparent;
    position: relative;
    transition: background-color 0.3s ease-in-out; 
}

.card:hover .card-title {
    background-color: transparent;
}

.card:hover {
    cursor: pointer;
}

    
.delete-button {
    position: absolute;
    bottom: 20px;
    left: 20px;

    background-color: rgb(23, 25, 26);
    font-weight: bold;
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border: transparent;
    border-radius: 100%;
    transition: 300ms ease-in-out;
}
.delete-button:hover {
    cursor: pointer;
    background-color: rgb(202, 68, 68);
}

.add-card-container {
    margin-left: 35px;
}

.input-card-name {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.add-card-button {
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    background-color: #C1292E;
    font-weight: bold;
    transition: 300ms ease-in-out;
}

.add-card-button:hover {
    cursor: pointer;
    background-color: #e70f16;
}

.complete-button {
    position: absolute;
    bottom: 20px;
    right: 20px;

    background-color: rgb(23, 25, 26);
    font-weight: bold;
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border: transparent;
    border-radius: 100%;
    transition: 300ms ease-in-out;
}
.complete-button:hover {
    cursor: pointer;
    background-color: #C1292E;
}
