.cart {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
}

.cart-title {
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}

.cart-price {
    background-color: #383737;
    font-size: 18px;
    font-weight: bold;
    color: #aef739;
    padding: 14px;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 20px;
}

.cart-books {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.book-details-cart {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(137, 124, 124);
    margin: 10px 20px;
}

.checkout-link {
    border: 2px solid rgb(188, 185, 185);
    font-size: 20px;
    color: #383737;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: greenyellow;
    text-decoration: none;
    padding: 20px;
}

.checkout-link:hover {
    background-color: #95ed07;
}

.book-image {
    width: 180px;
}


.remove-button:hover {
    transform: scale(1.07);
}
.remove-button {
    margin-top: 10px;
    bottom: 5px; /* Adjusted to 5px from the bottom */
    background-color: #FF0035;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.9;
}
