.checkout {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 30px;
    border-radius: 10px;
    border: 1px solid rgb(139, 137, 137);
}

.checkout-content {
    display: flex;
    width: 100%;
}

.checkout-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 25px;
    font-weight: bold;
    
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.checkout-items {
    display: flex;
    height: 360px;
    width: 20%;
    padding: 5px 100px;
}

.checkout-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
}

.checkout-book-title {
    font-size: 22px;
    font-weight: bold;
}

.checkout-book-author {
    font-size: 18px;
    color: rgb(92, 92, 92);
}

.checkout-book-image {
    height: 190px;
}

.checkout-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.checkout-input {
    display: flex; /* This will make prompts and inputs align horizontally. */
    justify-content: space-between; /* Distributes space evenly between prompts and inputs. */
    font-size: 20px;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 10px;
}

.checkout-input label {
    width: 30%; /* Adjust the width as needed to align your prompts. */
    text-align: right; /* Align the prompts to the right. */
}

.checkout-input input {
    width: 70%; /* Adjust the width as needed for the input fields. */
}

.checkout-prompt {
    margin-top: 5px;
    margin-right: 14px;
}