.navbar {
    width: 100%;
    background-color: #023047;
    display: flex;
    border: 1px solid black;
}

.nav-link {
    text-decoration: none;
    margin: 10px 1px;
    padding: 12px 20px;
    background-color: transparent;
    color: #aef739;
    font-size: 18px;
}