.payment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.form-group {
    width: 600px;
	margin: 0 15px 20px;
	padding: 0px;

    border-radius: 10px;
	border-style: none;
	background-color: #7795f8;
    color: black;
}


/* Your existing CSS */
.base {
    background-color: #7795f8 !important;
    /* icon-color: #c4f0ff !important; */
    /* color: white !important; */
    font-weight: 500 !important;
    font-size: 24px !important;
    width: 300px !important;
}
.invalid {
    /* icon-color: #ffc7ee !important; */
    color: white !important;
}


.form-row {
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	margin-left: 15px;
	/* border-top: 1px solid #819efc; */
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

.pay-button {
    padding: 14px 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(12, 201, 72);
    border: none;
    color: white;
    margin-bottom: 30px;
}

.pay-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}